.box {
  background-size: contain;
  width: 100px;
  height: 100px;
  margin: 20px auto;
  outline-offset: 10px;
  position: relative;
  background-image: url('../../../public/icons/docs.png');
}
.box--loading::before {
  content: '';
  position: absolute;
  top: 0;
  border-radius: 50px;
  bottom: 0;
  left: 0;
  width: 15px;
  background: #ff93d4;
  box-shadow: 0 0 70px 20px #ff93d4;
  clip-path: inset(0);
  animation: x 1s ease-in-out infinite alternate, y 2s ease-in-out infinite;
}

@keyframes x {
  to {
    transform: translateX(-100%);
    left: 100%;
  }
}

@keyframes y {
  33% {
    clip-path: inset(0 0 0 -50px);
  }
  50% {
    clip-path: inset(0 0 0 0);
  }
  83% {
    clip-path: inset(0 -50px 0 0);
  }
}
