.app {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app .app--header {
  flex-grow: 0;
}

.app .app--content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app .app--content > div {
  flex: 1 0 auto;
}

.upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}